* {
  font-family: "Roboto Mono";
  color: white;
}

b:hover {
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: hsl(0 0% 100% / 20%);
}

.shadow-box {
  box-shadow: 0 0 10px hsl(0 0% 0% / 30%);
  background-color: hsl(0 0% 100% / 10%);
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.flex {
  display: flex;
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pop-up {
  position: absolute;
  display: none;
  background-color: hsl(0 0% 0% / 20%);
  top: 0;
  left: 0;
  height: -webkit-fill-available;
  height: -moz-available;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 30px;
  z-index: 2;
}
.pop-up-box {
  background-color: white;
  box-shadow: 0 0 10px hsl(0 0% 0% / 10%);
  border-radius: 5px;
  height: -webkit-fill-available;
  height: -moz-available;
  z-index: 8;
  display: flex;
  flex-direction: column;
  padding: 100px;
  transition: all 0.3s;
}

.dynamic-box {
  backdrop-filter: blur(5px);
  padding: 15px;
  margin-top: 0;
  /* width: fit-content; */
}
.team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  gap: 20px;
  margin-bottom: 50px;
}

.team > div {
  padding: 5px 20px;
  background-color: hsl(200, 50%, 50%);
}

.border-box {
  /* border: 1px solid hsl(0, 0%, 20%); */
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
}

input,
p,
button {
  font-weight: 400;
  font-size: 0.9rem;
}

h1 {
  font-size: 1.2rem;
  padding: 5px 10px;
}

html,
body {
  all: unset;
  overflow: hidden;
  height: -webkit-fill-available;
  height: -moz-available;
  display: flex;
  flex-direction: column;
  position: relative;
}

body {
  padding: 5%;
  background-color: hsl(240 65% 10%);
}

svg {
  position: absolute;
}

.blob {
  top: 40%;
  left: 87%;
  height: 1000px;
}

.bottom-right-blob {
  bottom: -10px;
  right: -40px;
  transform-origin: bottom right;
  scale: 1.5;
}

path {
  fill: hsl(240, 0%, 10%);
}

.bar {
  width: 100%;
  height: 200px;
  top: -20px;
  left: -20px;
  transform-origin: top left;
  scale: 2.1 1.1;
  transition: 0.3s ease-in-out;
}

.bar > path {
  transition: all 0.3s ease-in-out;
}

.bar-b {
  filter: blur(5px);
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("/StarsWhite.png");
  background-size: 300px;
  animation: translate 50s linear infinite;
  background-position: 0 50px;
}

.bloom {
  filter: blur(3px);
}

@keyframes translate {
  0% {
    background-position: 0px 300px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.main {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 800px;
  padding-left: 20px;
  padding-top: 20px;
}
.code-line {
  padding: 0;
}
.box {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "unit";
}

.highlight {
  position: relative;
  grid-area: unit;
  border-radius: 5px;
  opacity: 0;
  border: 1px solid hsl(0 0% 100%);
  backdrop-filter: blur(5px);
  transition: all 0.3s;
}

.back {
  /* background: #000; */
  grid-area: unit;
  border-radius: 5px;
}

.cells {
  position: relative;
  z-index: 1;
  display: flex;
  grid-area: unit;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.option {
  color: white;
  height: fit-content;
  width: fit-content;
}

p {
  margin: 0;
  padding: 5px 10px;
}

input {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

.text > div {
  display: flex;
  align-items: center;
}

.text > div > p {
  flex-grow: 1;
  flex-shrink: 0;
}

.result-ol,
.result-op {
  width: fit-content;
  background-color: hsl(0 0% 100% / 5%);
  margin: 0;
}

.result-box > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text > div {
  display: flex;
}
.text {
  display: none;
  z-index: 1;
  margin: 0px 10px;
  backdrop-filter: blur(5px);
  padding-left: 5px;
  width: -webkit-fill-available;
  width: -moz-available;
  gap: 0px;
}

.result-op > p,
.result-ol > p {
  color: hsl(0, 0%, 100%);
}

.result-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-area: unit;
  height: fit-content;
  z-index: -1;
  opacity: 0;

  backdrop-filter: blur(5px);
  padding: 15px;
  width: fit-content;
}

.title-box {
  display: flex;
  gap: 5px;
}

button {
  background-color: hsl(0, 0%, 10%);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  transition: scale 0.3s;
}

button:active {
  scale: 0.9;
  background-color: hsl(200, 50%, 50%);
}

.count-view {
  overflow: hidden;
  align-content: flex-start;
  opacity: 0;
  z-index: -1;
}

.count-view > .column {
  padding: 15px;
  margin-top: 0;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.recursive-tree {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 5px;
}

.grid {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "unit";
  overflow-y: auto;
}

.colored-box,
.map-items > div > p {
  background-color: hsl(0, 0%, 10%);
  width: fit-content;
  border-radius: 5px;
  color: white;
}

b {
  font-weight: 600;
  font-size: 0.95rem;
}

.sub-string,
.main-string {
  color: hsl(0, 0%, 50%);
  overflow-wrap: anywhere;
}

.sub-string > b,
.main-string > b {
  color: white;
}

.find-view > .border-box > .title-box:not(.title-box:last-child) {
  margin-bottom: 5px;
}

.unit {
  grid-area: unit;
  display: flex;
  position: relative;
  overflow: hidden;
}

.find-view {
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.value-content {
  margin-top: 5px;
}

.content {
  height: fit-content;
}

.map-items {
  display: flex;
  width: -webkit-fill-available;
  width: -moz-available;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  gap: 5px;
}

.map-items > div {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-width: fit-content;
  margin-bottom: 5px;
}

.controls {
  display: flex;
  gap: 5px;
  backdrop-filter: blur(5px);
  padding: 15px;
  margin-bottom: 0;
  /* width: fit-content; */
}

.last-repeated-character,
.cur-repeated-character {
  transition: all 0.3s;
}

.introduction {
  z-index: 1;
  height: -webkit-fill-available;
  height: -moz-available;
  overflow-y: auto;
  backdrop-filter: blur(5px);
  padding-left: 15px;
}

.params-grid {
  display: grid;
  gap: 5px;
  margin-left: 10px;
  grid-template-columns: auto 1fr;
}
.input {
  grid-column: 1;
  grid-row: 1;
}
.output {
  grid-column: 1;
  grid-row: 2;
  margin-top: 10px;
}

.output-value {
  grid-column: 2;
  grid-row: 2;
  margin-top: 10px;
}

.input-value {
  grid-column: 2;
  grid-row: 1;
  gap: 5px;
}
.input-value > p,
.output-value > p {
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px hsl(0 0% 0% / 30%);
  background-color: hsl(0 0% 100% / 5%);
}

.input-value > p:hover,
.output-value > p:hover {
  background-color: hsl(0 0% 100% / 10%);
  scale: 1.05;
}

.input > p,
.output > p {
  width: auto;
}

.example-box {
  justify-content: center;
  margin: 10px;
}

.example-box > p {
  color: hsl(0, 0%, 60%);
}

.example-box > p > b {
  color: hsl(0, 0%, 100%);
}

.correctness {
  opacity: 0;
  z-index: -1;
  font-size: 0.9rem;
  overflow: hidden;
  margin-top: 5px;
}

.correctness > .shadow-box {
  padding: 15px 20px;
  backdrop-filter: blur(5px);
  margin-top: 0;
}

.ident {
  padding-left: 20px;
  border-left: 1px solid hsl(0, 0%, 90%);
}
.ident > p {
  padding: 0;
}

.correctness-highlight {
  background-color: hsl(120, 50%, 50%);
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  width: fit-content;
}

.correctness > .grid > .unit {
  overflow-y: auto;
}

.correctness > .grid > .unit:first-child {
  display: none;
}

.dynamic-view {
  opacity: 0;
  z-index: -1;
}

.dynamic-table {
  display: grid;
  width: fit-content;
  gap: 5px;
  margin-bottom: 1px;
}

.dynamic-table-values {
  display: grid;
  padding: 0;
  gap: 5px;
}

.cell {
  background-color: hsl(0, 0%, 10%);
  padding: 5px;
  border-radius: 5px;
  min-height: 1.32rem;
  min-width: 1.32rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cell:hover {
  scale: 1.2;
}

.letter-cell {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: hsl(0, 0%, 100%, 5%);
  margin: 0px;
}

.label-cell {
  background-color: hsl(0, 0%, 60%);
  position: sticky;
  top: 0;
}

.first-cell {
  background-color: hsl(0, 0%, 30%);
  color: white;
}

div::-webkit-scrollbar {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 5px hsl(0, 0%, 100%);
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

div::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 10%);
  border-radius: 5px;
}

.main-content {
  margin-top: 70px;
  margin-left: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
  height: -moz-available;
}

@media only screen and (max-width: 600px) {
  .bar {
    z-index: 1;
    pointer-events: all;
    height: 80px;
    width: 50px;
  }
  .bar > path {
    d: path(
      "M19.2349 71.852 C12.9724 73.3808 2.68394 62.6794 9.15527e-05 58.0931V0.000137329H38.4697C40.259 10.7013 42.0482 20.6383 40.259 27.5177C38.4697 34.3972 34.8911 38.9835 33.9965 45.8629C33.1018 52.7424 26.3201 70.1224 19.2349 71.852Z"
    );
  }
  .bar[data-clicked="true"] {
    height: 350px;
    width: 100px;
    pointer-events: none;
  }
  .bar[data-clicked="true"] > path {
    d: path(
      "M27 196C8.75024 221.184 14.4477 211.063 0 231V0.000137329H97C97 17 94.2233 46 76 65C57.7767 84 47 114 47 132C47 181.73 40.6873 177.112 27 196Z"
    );
  }

  .main {
    display: none;
  }
  .main[data-clicked="true"] {
    display: flex;
    z-index: 3;
  }
  .main[data-clicked="true"] > .box > .cells {
    flex-direction: column;
    z-index: 3;
  }
  .main-content {
    margin-left: 0px;
    margin-top: 20px;
  }
}
