* {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 0.9rem;
}

html,
body {
  all: unset;
  overflow: hidden;
  height: -webkit-fill-available;
  height: -moz-available;
  display: flex;
  flex-direction: column;
}

body {
  margin: 20px;
}

.main {
  display: flex;
}

.box {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "unit";
}

.highlight {
  position: relative;
  background: hsl(200, 50%, 50%);
  grid-area: unit;
  transition: all 0.3s;
  border-radius: 5px;
  opacity: 0;
}

.back {
  background: hsl(0, 0%, 20%);
  grid-area: unit;
  border-radius: 5px;
  width: 10v;
}

.cells {
  position: relative;
  z-index: 1;
  display: flex;
  grid-area: unit;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
}

.option {
  color: white;
}

p {
  margin: 0;
  padding: 5px 10px;
}

.border-box {
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
}

input {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 5px;
  width: 100%;
}

.text > div {
  display: flex;
  align-items: center;
}

.text > div > p {
  flex-grow: 1;
  flex-shrink: 0;
}

.result-ol,
.result-op {
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
}

.result-box > div {
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 5px;
}

.text > div {
  display: flex;
}
.text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  gap: 5px;
}

.result-op > p,
.result-ol > p {
  color: hsl(0, 0%, 20%);
}

.result-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  grid-area: unit;
  height: fit-content;
}

.title-box {
  display: flex;
  gap: 5px;
}

button:active {
  transform: scale(0.9);
}

.count-view {
  grid-area: unit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  align-content: flex-start;
  opacity: 0;
  z-index: -1;
}

.recursive-tree {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "unit";
  overflow-y: auto;
}

.overlay {
  grid-area: unit;
}

.id-box,
.map-items > div > p {
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  color: white;
}

b {
  font-weight: 600;
}

.unit {
  grid-area: unit;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.unit:nth-child(2) {
  display: none;
  gap: 5px;
}

.find-view {
  display: flex;
  flex-direction: column;
  grid-area: unit;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.value-content {
  margin-top: 5px;
}

.map-items {
  display: flex;
  overflow: hidden;
  width: -webkit-fill-available;
  width: -moz-available;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  gap: 5px;
}

.map-items > div {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: -webkit-fill-available;
  height: -moz-available;
  min-width: fit-content;
  margin-bottom: 5px;
}

.find-view > .border-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: -webkit-fill-available;
  width: -moz-available;
}

.view-controls {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

div::-webkit-scrollbar {
  background-color: hsl(0, 0%, 35%);
  border-radius: 5px;
  width: 10px;
  height: 10px;
  border: 3px solid white;
}

div::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
}
