* {
  font-family: "Roboto Mono";
}

.flex {
  display: flex;
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pop-up {
  position: absolute;
  display: none;
  background-color: hsl(0 0% 0% / 20%);
  top: 0;
  left: 0;
  height: -webkit-fill-available;
  height: -moz-available;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 30px;
  z-index: 2;
}
.pop-up-box {
  background-color: white;
  box-shadow: 0 0 10px hsl(0 0% 0% / 10%);
  border-radius: 5px;
  height: -webkit-fill-available;
  height: -moz-available;
  z-index: 3;
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 100px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  gap: 20px;
  margin-bottom: 50px;
}

.team > div {
  padding: 5px 20px;
  background-color: hsl(200, 50%, 50%);
}

input,
p,
button {
  font-weight: 400;
  font-size: 0.9rem;
}

h1 {
  font-size: 1.2rem;
  padding: 5px 10px;
}

html,
body {
  all: unset;
  overflow: hidden;
  height: -webkit-fill-available;
  height: -moz-available;
  display: flex;
  flex-direction: column;
}

body {
  margin: 5%;
}

.main {
  display: flex;
}

.box {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "unit";
}

.highlight {
  position: relative;
  background: hsl(200, 50%, 50%);
  grid-area: unit;
  transition: all 0.3s;
  border-radius: 5px;
  opacity: 0;
}

.back {
  background: hsl(0, 0%, 20%);
  grid-area: unit;
  border-radius: 5px;
}

.cells {
  position: relative;
  z-index: 1;
  display: flex;
  grid-area: unit;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.option {
  color: white;
}

p {
  margin: 0;
  padding: 5px 10px;
}

.border-box {
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
}

input {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 5px;
  width: 100%;
}

.text > div {
  display: flex;
  align-items: center;
}

.text > div > p {
  flex-grow: 1;
  flex-shrink: 0;
}

.result-ol,
.result-op {
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
}

.result-box > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text > div {
  display: flex;
}
.text {
  display: none;
  margin: 10px 0px;
}

.result-op > p,
.result-ol > p {
  color: hsl(0, 0%, 20%);
}

.result-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  grid-area: unit;
  height: fit-content;
  z-index: -1;
  opacity: 0;
}

.title-box {
  display: flex;
  gap: 5px;
}

button {
  background-color: hsl(0, 0%, 20%);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  transition: scale 0.3s;
}

button:active {
  scale: 0.9;
  background-color: hsl(200, 50%, 50%);
}

.count-view {
  overflow: hidden;
  align-content: flex-start;
  opacity: 0;
  z-index: -1;
}

.recursive-tree {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 5px;
}

.grid {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "unit";
  overflow-y: auto;
}

.colored-box,
.map-items > div > p {
  background-color: hsl(0, 0%, 20%);
  width: fit-content;
  border-radius: 5px;
  color: white;
}

b {
  font-weight: 600;
  font-size: 0.95rem;
}

.sub-string,
.main-string {
  color: hsl(0, 0%, 50%);
  overflow-wrap: anywhere;
}

.sub-string > b,
.main-string > b {
  color: white;
}

.find-view > .border-box > .title-box:not(.title-box:last-child) {
  margin-bottom: 5px;
}

.unit {
  grid-area: unit;
  display: flex;
  position: relative;
  overflow: hidden;
}

.find-view {
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.value-content {
  margin-top: 5px;
}

.content {
  height: fit-content;
}

.map-items {
  display: flex;
  width: -webkit-fill-available;
  width: -moz-available;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  gap: 5px;
}

.map-items > div {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-width: fit-content;
  margin-bottom: 5px;
}

.controls {
  display: flex;
  gap: 5px;
}

.last-repeated-character,
.cur-repeated-character {
  transition: all 0.3s;
}

.introduction {
  z-index: 1;
  height: -webkit-fill-available;
  height: -moz-available;
  max-width: 1000px;
}

.params-grid {
  display: grid;
  gap: 5px;
}
.input {
  grid-column: 1;
  grid-row: 1;
}
.output {
  grid-column: 1;
  grid-row: 2;
  margin-top: 10px;
}

.output-value {
  grid-column: 2;
  grid-row: 2;
  margin-top: 10px;
}

.input-value {
  grid-column: 2;
  grid-row: 1;
}
.input-value > p,
.output-value > p {
  background-color: hsl(200, 20%, 60%);
  color: white;
  /* box-shadow: 0 0 10px hsl(0 0% 0% / 50%); */
  margin-right: 10px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.input > p,
.output > p {
  width: auto;
}

.example-box {
  justify-content: center;
  margin: 10px;
}

.example-box > p {
  color: hsl(0, 0%, 60%);
}

.example-box > p > b {
  color: hsl(0, 0%, 100%);
}

.correctness {
  opacity: 0;
  z-index: -1;
  font-size: 0.9rem;
  overflow: hidden;
  margin-top: 5px;
}

.correctness > .border-box {
  padding: 15px 20px;
}

.ident {
  padding-left: 20px;
  border-left: 1px solid hsl(0, 0%, 20%);
}
.correctness-highlight {
  background-color: hsl(120, 50%, 50%);
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  width: fit-content;
}

.correctness > .grid > .unit {
  overflow-y: auto;
}

.correctness > .grid > .unit:first-child {
  display: none;
}

.dynamic-view {
  opacity: 0;
  z-index: -1;
}

.dynamic-table {
  display: grid;
  width: fit-content;
  gap: 5px;
}

.dynamic-table-values {
  display: grid;
  padding: 0;
  background-color: white;
  gap: 5px;
}

.dynamic-table > div:not(.dynamic-table-values) {
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  background-color: hsl(0, 0%, 20%);
  padding: 5px;
  border-radius: 5px;
  min-height: 1.32rem;
  min-width: 1.32rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.label-cell {
  background-color: hsl(0, 0%, 60%);
  /* color: hsl(0, 0%, 20%); */
}

.first-cell {
  background-color: hsl(0, 0%, 30%);
  color: white;
}

div::-webkit-scrollbar {
  background-color: hsl(0, 0%, 35%);
  border-radius: 5px;
  width: 10px;
  height: 10px;
  border: 3px solid white;
}

div::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
}
